
.header{
    width: 100%;
    display: flex;
    background-color:hsl(54, 93%, 48%);
    border: 4px solid #030000;

    
}

.h{
    height: 100px;
    width: 70%;
}
 
li > a{
    color: white;
}

label {
    display: block;
    margin: 10px;
    color: #0c0c0c;
}

.headlist{
    display: flex;
    justify-content: space-between;
}

.blist{
   margin: 200px;
   
}
.headlist > li{
    display: inline;
    color: white ;
}

.gg{
    width: 50%;
  
}


.body{
    width: 100%;
    height: 800px;
    display: flex;
    background-color: hwb(130 37% 22%);
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #c0eaf7;
    color: white;
}


.footer{
    height: 100px;
    width: 500px;
    background-color:hsl(180, 33%, 97%);
    padding-top: 10px;
    padding-left: 40px;
    border: 2px solid white;
    color: white;

}

